@import '~swiper/swiper-bundle';


body {
    margin: 0;
    padding: 0;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

@media (min-width: 567px){
    .product-grid{
        grid-template-columns: repeat(4,1fr);
    }
}