img {
    max-width: 100%;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // nos hará breakpoints cada 300px
}
  
.crop-image {
    display: block;
    height: 300px;
    width: 100%;
    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
      object-position: center;
    }
}
  
  